body{
    background-image:url('kj2.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    color:white;


}

header{

    display:flex;
    background-color:black;
    height:100px;  
    margin-left:40px;
    
    
}
header img {
    width:90px;
    height:90px;
}
nav ul li {
    display:inline-block;
    padding:12px;
    margin-right: 40px;
}
nav ul li a{
    padding:10px;
    text-decoration: none;
    color:white;
    border:2px solid white;
    border-radius:30px;
}
nav {
   margin-left: 90px;
}
#about {
    background-image:url('.jpg');
    background-size: cover;  
    

}
#about h2{
    text-align: center;
    padding:30px;
}
.grid {
    display:flex;   
}
.grid img {
    margin-bottom: 20px;
    margin-left: 10px;
}
.para pre{
    font-size: 15px;
    margin-right:20px;
    color:white;
}
#home img{
    margin-bottom: -25px;
}
#products {
    background-image: url("cola6.jpeg");
    background-size: auto;
    margin-bottom: 30px;
    
}
#products h2{
    color:white;
    padding:70px;
    text-align: center;
    margin-right:50px;
}

.grid1 {
    display:flex;
    
    
}
.grid1  img {
     width:150px;
     height:170px;
     display:inline-block;
     flex-wrap: wrap;
         
}
.grid1 h3{
    margin-top: 10px;
    

}
.grid2 {
    display:flex;
    margin-left: -250px;
}
.grid2  img {
    width:150px;
    height:170px;
    display:inline-block;
   
    
}
.grid1 .items:hover {
    transform:matrix(1,-0.3,0,1,0,0);

 }
 .grid2 .items:hover {
    transform:matrix(1,-0.3,0,1,0,0);
 }
 #move {
    display:flex;
    padding:10px;
    
 }
 .slide video {
    width:1000px;
    height:900px;
    display:inline-block;
    margin-left:250px;
    margin-right:100px;
    margin-top: 10px;
    
 }
 
#contact {
    display:flex;
    margin-top:50px;
    justify-content: space-between;
   
    
}
.row {
    margin-right:600px;
}
.form {
    margin-right:500px;
    background-color:black;
    padding:20px;
    width:500px;
    height:150px;

}
tr {
    background-color: black;
}
footer {
    background-color: black;
    text-align:center;
    display:flex;
    image:center;
    
    
}



